@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
  transition: background-color 0.9s, color 0.1s;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url(wall.webp);
  background-size: cover;
  background-position: center;
}  
/* Estilos para el modo claro */
body.light {
  background-color: #fff;
  color: #000;
}

/* Estilos para el modo oscuro */
body.dark {
  background-color: #000;
  color: #fff;
  backdrop-filter: brightness(0.7);
}

.clock {
  font-size: 4rem;
}

.wrapper {
  display: flex;
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.controls {
  justify-content: space-between;
}
.controls label input {
  display: none;
}
/* Media Query para dispositivos de escritorio (ancho de pantalla mayor a 768px) */
@media (min-width: 768px) {
  .clock {
    font-size: 20rem;
    /* Aumenta el tamaño de fuente para dispositivos de escritorio. */
  }
}

/* Media Query para teléfonos (ancho de pantalla menor o igual a 767px) */
@media (max-width: 767px) {
  .clock {
    font-size: 8rem;
    /* Reduce el tamaño de fuente para teléfonos. */
  }
}
