@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-align: center;
  transition: background-color 0.9s, color 0.1s;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url(https://images.unsplash.com/photo-1682685797332-e678a04f8a64?auto=format&fit=crop&q=80&w=1770&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}  
/* Estilos para el modo claro */
body.light {
  background-color: #fff;
  color: #000;
  backdrop-filter: blur(10px);
  color-scheme: light;
}

/* Estilos para el modo oscuro */
body.dark {
  background-color: #000;
  color: #fff;
  backdrop-filter: brightness(0.5);
}

.clock {
  font-size: 3rem;
}

.controls {
  display: flex;
  justify-self: space-between;
  font-size: 1.2rem;
}

.controls label input {
  display: none;
}

/* Media Query para dispositivos de escritorio (ancho de pantalla mayor a 768px) */
@media (min-width: 768px) {
  .clock {
    font-size: 20rem;
    /* Aumenta el tamaño de fuente para dispositivos de escritorio. */
  }
}

/* Media Query para teléfonos (ancho de pantalla menor o igual a 767px) */
@media (max-width: 767px) {
  .clock {
    font-size: 8rem;
    /* Reduce el tamaño de fuente para teléfonos. */
  }
}
